/* added box-sizing: border-box; so I didn't
have to complicate the css with problems
with padding, margins, and borders */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #3c3a3c;
  font-family: sans-serif;
  font-size: 80%;
  color: #010001;
}

.container {
  margin: 0 auto;
  width: 420px;
}

.location {
  margin-left: 0%;
  margin-top: .25%;
}

nav {
  margin: 0 auto;
  padding: .7% 0 .7% .7%;
  position: fixed;
  width: 420px;
  background-color: #010001;
}

h1 {
  padding-left: 5%;
  margin-bottom: 2%;
  font-weight: bold;
  font-size: 130%;
}

h3 {
  margin-left: 5%;
}

.location {
  padding-top: 5%;
  padding-left: 5%;
  padding-bottom: 5%;
  max-width: 100%;
  background-color: #e0dfe0;
  display: block;
}

/* changed min-width to 90% for content to make right
chevron align to the right*/
.content {
  min-width: 90%;
}

/* applied display:inline-block to both .content and
 .arrow classes */
.content, .arrow {
  display: inline-block;
}

/* tried using margin-top and margin-bottom: auto to
center right chevron, but didn't work. Wasn't sure
how to change chevron size, either. */
i {
  text-align: right;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5%;
}

/* added hover option to background-color */
  div.location:hover {
  background-color: #b4b3b5;
}

/*.content div {
  margin: auto;
}*/

/* change padding-top to 10% added background color
to separate the .location divs */
.restaurant-list {
  padding-top: 10%;
  background-color: #3c3a3c;
}
